# Dependencies
**/node_modules

# Build
**/dist
**/build

# Environment
**/.env
**/.env.*

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Prisma
**/prisma/dev.db

# Uploads
uploads/

# Coverage
coverage/